<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Browser Technologies</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <section>
          <a href="/"><h1>Customize</h1></a>
        </section>
      </header>
      <main><%- body %></main>
      <footer>
        <img
          src="img/betaalmethodes.png"
          alt="Logo van de beschikbare betaalmethodes"
        />
        <p>&copy; Copyright - <span>2022</span></p>
      </footer>
    </div>
    <script src="js/script.js"></script>
    <noscript>

    <link href="css/disabledJS.css" type="text/css" rel="stylesheet" />

</noscript>
</html>
