<article>
  <section>
    <h2>Customize jouw nerdly T-Shirt!</h2>
    <p>
      Je kan nu eindelijk jouw eigen nerdly T-Shirt customizen op deze website.
      Klik hieronder op het begin knop en doorloop het stappen plan. Je vult
      eerst jouw naam en e-mail in.
    </p>
  </section>
  <section>
    <p>
      Vervolgens vul je jouw geslacht en gewenste maat voor jouw T-Shirt in.
      Vervolgens kan je dan de kleuren en teksten voor de T-Shirt aanpassen.
      Daarna kan je de T-Shirt opslaan en bestellen.
    </p>
  </section>
</article>
<% if (!item){ %>

<a href="/form" class="startButton">T-Shirt Customizen</a>

<% } else { %>

<a href="/overzicht" class="startButton">Overzicht</a>

<% } %>
