<article class="opslaanArticle">
  <h2>Je T-Shirt is opgeslagen</h2>

  <section>
    <p>Maat: <%- gebruiker.maat %></p>
    <p>Geslacht: <%- gebruiker.geslacht %></p>
  </section>

  <section class="shirtContainer shirtContainer2">
    <img src="img/shirt<%- gebruiker.kleur %>.png" alt="test" />
    <img src="img/<%- gebruiker.text %>.png" alt="test" />
  </section>

  <a href="/overzicht" class="verderButton">Verder</a>
</article>
