<% if (!item){ %>
<h3>Error</h3>
<% } else { %> <% if (!item2){ %>
<section class="verwijderd">
  <h2>T-Shirt is verwijderd</h2>
  <a href="/" class="verderButton">Home</a>
</section>

<% } else { %>
<section class="verwijderd">
  <h2>T-Shirt's zijn verwijderd</h2>
  <a href="/" class="verderButton">Home</a>
</section>

<% } %> <% } %>
