<article class="wijzigen">
  <h2>Wijzigen</h2>

  <a href="/overzicht" class="backButton">Terug</a>

  <% if (!item){ %>
  <h1>Error</h1>
  <% } else { %>
  <section class="opslaanContainer">
    <p>Maat: <%- item.maat %></p>
    <p>Geslacht: <%- item.geslacht %></p>
    <section class="shirtContainer">
      <img src="img/shirt<%- item.kleur %>.png" alt="test" />
      <img src="img/<%- item.text %>.png" alt="test" />
    </section>
  </section>

  <form action="/opslaan1" method="POST" class="form1">
    <section>
      <label for="naam">Wijzig naam</label>
      <input
        type="text"
        id="naam"
        name="naam"
        placeholder="Vul je naam in..."
        required
      />
    </section>

    <section>
      <label for="lname">Wijzig E-Mail</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Vul je E-Mail in..."
        required
      />
    </section>

    <section>
      <label for="geslacht">Wijzig geslacht</label>
      <select name="geslacht" id="geslacht" required>
        <option value="" disabled selected>Kies geslacht</option>
        <option value="Man">Man</option>
        <option value="Vrouw">Vrouw</option>
      </select>
    </section>

    <section>
      <label for="maat">Wijzig maat</label>
      <select name="maat" id="maat" required>
        <option value="" disabled selected>Kies maat</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
      </select>
    </section>

    <section>
      <label for="text">Wijzigt tekst T-Shirt</label>
      <select name="text" id="text" required>
        <option value="" disabled selected>Kies tekst</option>
        <option value="text1">t-shirt</option>
        <option value="text2">img src="sixpack.png"</option>
        <option value="text3">body</option>
        <option value="text4">#t-shirt</option>
        <option value="text5">img src="t-shirt.png"</option>
        <option value="text6">t-shirt.queryselector</option>
      </select>
    </section>

    <section class="kleurSelectie">
      <p>Wijzig T-Shirt kleur</p>
      <section>
        <input type="radio" id="blauw" name="kleur" value="blauw" required />
        <label for="blauw">Blauw</label>

        <input type="radio" id="rood" name="kleur" value="rood" />
        <label for="rood">Rood</label>

        <input type="radio" id="wit" name="kleur" value="wit" />
        <label for="wit">Wit</label>

        <input type="radio" id="zwart" name="kleur" value="zwart" />
        <label for="zwart">Zwart</label>
      </section>
    </section>

    <section>
      <input type="submit" value="Opslaan" class="verderButton" />
    </section>
  </form>

  <% } %>
</article>
